body {
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.profile-container {
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.profile-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.profile-header {
    position: relative;
    margin-bottom: 20px;
}

.profile-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: #555;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-icon img.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.edit-icon:hover {
    background-color: #45a049;
}

h1 {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

.delete-account {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.delete-account:hover {
    background-color: #e53935;
}

.profile-form {
    margin-top: 20px;
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #4CAF50;
}

.phone-input {
    display: flex;
}

.phone-input select {
    width: 30%;
    margin-right: 10px;
}

.save-changes {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.save-changes:hover {
    background-color: #45a049;
}
