body {
  font-family: "Arial", sans-serif;
  background-color: #395e7d;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1350px;
  width: 100%;
  background-color: rgb(83, 94, 105);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: border-box;
}
.action-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
strong {
  font-weight: bold;
  color: #333;
}
.delete-button {
  background-color: rgb(147, 88, 88);
  color: rgb(19, 18, 18);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;

  /* position: absolute; */
  /* top: 10px;
  right: 10px; */
}
.Continue-button {
  background-color: rgb(78, 189, 152);
  color: rgb(19, 18, 18);
  border: none;
  padding: 5px 10px;
  font-size: large;
  cursor: pointer;
  border-radius: 10px;
}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}

.back-link:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.action-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
}

.form-container {
  margin-bottom: 20px;
}

.form-container input,
.form-container textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container input[type="file"] {
  padding: 3px;
}

#courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  cursor: pointer;
}

.course {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.course img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.course h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

.course p {
  margin: 5px 0;
  color: #666;
}

.course p.category {
  font-style: italic;
}

.course p.createdBy {
  font-weight: bold;
}

.course p.numberOfLectures {
  background-color: #007bff;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}
